@charset "UTF-8";
/* CSS by Social Control */

#indxwhite {
	width:100%;
	min-height:450px;
	padding:0px;
	background:url(../../images/bg-content-2col-trans.png) no-repeat;
}

#nav { }
#nav * { margin:0 !important; padding:0 !important; }
#nav ul { }
#nav ul li {
	float:left;
	min-height:0px !Important;
	display:inline;
	}
	#nav ul li a {
		float:left;
		width:193px;
		height:37px;
		text-indent:-99999em;
		display:block;
		}
		#nav ul li.recycling a { background:url(../../images/tab-recycling.png) no-repeat 0px 0px; }
		#nav ul li.business a { background:url(../../images/tab-business.png) no-repeat 0px 0px; }
			#nav ul li.business.alt a { background-position: 0px -74px; }
		#nav ul li.community a { background:url(../../images/tab-community.png) no-repeat 0px 0px; }
		
		#nav ul li a:hover { background-position: 0px -37px; }
			#nav ul li.business.alt a:hover { background-position: 0px -111px; }
		#nav ul li.active a { background-position:0px -74px; }
			#nav ul li.business.active a { background-position:0px -148px; }

		
#tab_contenthm {
	width:830px;
	position:relative;
	left:0;
	padding:18px;
	background:transparent none;
	}
	#tab_contenthm .tab-wrap {
		float:left;
		width:579px;
		}
		#tab_contenthm .wrap {
			background:#fff;
			width:539px;
			min-height:500px;
			background:url(../../images/bg-strokeblur.png) no-repeat bottom left;
			padding:20px;
			clear:both;
			}
			#tab_contenthm .wrap h3 {
				float:left;
				width:100%;
				height:auto;
				font:bold 18px Helvetica, Arial, sans-serif;
				color:#006900;
				margin:1.2em 0 .9em;
				padding:0;
				display:block;
				}
			#tab_contenthm .wrap p {
				line-height:18px;
				margin:0 0 1em !important;
				}

.recyclemap {
	position:relative;
	top:-6px;
	left:-6px;
	width:549px;
	height:253px;
	background:url(../../images/bg-recyclemap.png) no-repeat;
	}
	.recyclemap p {
		position:absolute;
		top:-9999em;
		}
	.recyclemap input {
		position:absolute;
		top:115px;
		left:300px;
		color:#d2d2d2;
		padding:2px;
		}
	.recyclemap select {
		position:absolute;
		top:120px;
		left:300px;
		}
		.recyclemap input.submit {
			top:150px;
			left:456px;
			width:69px;
			height:19px;
			background:url(../../images/btn-submit.png) no-repeat;
			text-indent:-9999em;
			font-size:0px;
			color:#fff;
			border:0px;
			cursor:pointer;
			}
			.recyclemap input:hover.submit { background-position:top right; }
			
.row-thumbs {
	float:left;
	width:100%;
	margin:0 0 1em;
	padding:0 0 1em;

	}
.row-thumbs p {
	clear:both;
	float:left;
	width:100%;
	padding:1em 0 0 !important;
	margin:0 !important;
	display:block;
}
.row-thumbs li {
	float:left;
	min-height:0 !important;
	margin:0 !important;
	display:inline;
	}
	.row-thumbs li a {
		float:left;
		width:125px;
		height:66px;
		text-indent:-9999em;
		display:block;
		}
		.row-thumbs li.one a { background:url(../../images/thumb_paper.png) no-repeat; }
		.row-thumbs li.two a { background:url(../../images/thumb_metals.png) no-repeat; }
		.row-thumbs li.three a { background:url(../../images/thumb_glass.png) no-repeat; }
		.row-thumbs li.four a { background:url(../../images/thumb_plastics.png) no-repeat; }
		.row-thumbs li.five a { background:url(../../images/thumb_electronics.png) no-repeat; }
		.row-thumbs li.six a { background:url(../../images/thumb_batteries.png) no-repeat; }
		.row-thumbs li.seven a { background:url(../../images/thumb_polystyrene.png) no-repeat; }
		.row-thumbs li.eight a { background:url(../../images/thumb_plastic-grocery-bags-1.jpg) no-repeat; }
		
		.row-thumbs li a:hover { opacity:0.8; }
	
	
		.row-thumb_bottom {
			float:left;
			width:100%;
			margin:0 0 0;
			padding:0 0 0;
			border-bottom:1px solid #d2d2d2;
			}
			
		
.sidebar-wrap {
	float:right;
	width:210px;
	}
	.sidebar-wrap .box { float:left; margin-bottom:1.5em; }
	.sidebar-wrap .box img {
		background:#fff;
		padding:3px;
		margin-bottom:5px;
		border:1px solid #ddd;
		width:210px;
		height:84px;
		}
	.sidebar-wrap .box h3 {
		float:left;
		width:100%;
		height:auto;
		font:bold 12px/18px Arial, Helvetica, sans-serif;
		margin:0;
		padding:0;
		display:block;
		clear:both;
		}
	.sidebar-wrap .box p { line-height:18px; }
	
p.seemore a,
p.getkit a,
p.watchvideo a,
p.seehow a,
p.learnmore a,
p.casestudies a,
p.businesscasestudies a {
		float:right;
		width:109px;
		height:19px;
		margin:.5em 0 1em;
		text-indent:-99999em;
		display:block;
		}
p.seemore a { background:url(../../images/btn_see_more.gif) no-repeat top left; }
p.watchvideo a { background:url(../../images/btn_watchvideo.gif) no-repeat top left; width:121px; }
p.seehow a { background:url(../../images/btn_seehow.gif) no-repeat top left; width:95px; }
p.getkit a { background:url(../../images/btn_get_kit.png) no-repeat top left; }
p.learnmore a { background:url(../../images/btn_learnmore.gif) no-repeat top left; width:121px; }
p.casestudies a { background:url(../../images/btn_casestudies.gif) no-repeat top left; width:175px; float:left; }
p.businesscasestudies a { background:url(../../images/btn_businesscasestudies.png) no-repeat top left; width:225px; float:left; }
		
p.seemore a:hover,
p.seehow a:hover,
p.watchvideo a:hover,
p.getkit a:hover,
p.learnmore a:hover,
p.casestudies a:hover,
p.businesscasestudies a:hover { background-position:bottom left; }



#flash_container2.home {
	height:260px;
	margin:0;
	position:relative;
	top:0px;
	width:550px;
	z-index:1;
	}
	
.callout {
	background:#d1e8b8;
	padding:15px 25px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	margin:1em 0;
}

.moreways {
	background:#89c647;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding:15px 13px;
	margin:2em 0;
	color:#005731;
	font-weight:bold;
	}
	.moreways h3 {
		background:url(../../images/hdr_moreways.png) no-repeat;
		width:295px;
		height:32px;
		text-indent:-99999em;
		display:block;
		}
	.moreways p {
		color:#005731 !important;
		font-weight:bold;
		}
	.moreways ul {}
	.moreways ul li {
		display:block;
		height:auto !important;
		min-height:0 !important;
		}
	.moreways ul li a {
		display:block;
		background:url(../../images/bullet_green.png) no-repeat top left;
		padding:0 0 0 15px;
		margin:0;
		color:#005731;
		}



